*{font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;}
.flex-column{
  display: flex;
  flex-direction: column;
  gap:10px;
}
:root {
  --color-yellow: #FFD300;
  --color-yellow-light: #fdeda6;
  --color-text: #696969;
  --color-text-2: rgba(105, 105, 105,.5);
  --color-border:#D9DBDA;
}
#app{
  color:var(--color-text);
}